@Html.BootstrapValidationMessage("")
<h2 class="">Ok, Here We Go..</h2>
<p class="">You will need to give Google.com permission to accept files from RingClone.</p>
<p class="small">Click below, and we will direct you to the Google.com authorization page. After you click "Allow", we will then redirect you back here to continue setting up your backup.</p>
<div class="btn-group-vertical" role="group" aria-label="...">
    <a href="@ViewBag.GoogleUrl" class="btn btn-primary btn-lg">Go To Google.com</a>
</div>

